<h2 class="page-header">Manage Posts <a class="btn btn-success" href="">Add New</a></h2>
<table class="table table-striped">
    <tr>
        <th>Post Title</th>
        <th>Post Category</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>
            Post #1
        </td>
        <td>
            News
        </td>
        <td>
            <a class="btn btn-primary" href="">
                Edit
            </a>
            <a class="btn btn-danger" href="">
                Delete
            </a>
        </td>
    </tr>
    <tr>
        <td>
            Post #2
        </td>
        <td>
            Blog
        </td>
        <td>
            <a class="btn btn-primary" href="">
                Edit
            </a>
            <a class="btn btn-danger" href="">
                Delete
            </a>
        </td>
    </tr>
</table>
