<div class="list-group">
    <a class="list-group-item" href="">News</a>
    <a class="list-group-item" href="">Tutorials</a>
    <a class="list-group-item" href="">Releases</a>
    <a class="list-group-item" href="">Events</a>
</div>
