                        <div class="row">
                            <div class="col-md-6">
                                <div class="post">
                                    <img src="img/rails1.png" class="img-responsive"/>
                                    <div class="post-content">
                                        <h3>Lorem Ipsum</h3>
                                        <small>Posted by Aria on July 13, 2017</small>
                                        <p>
                                            Nullam eu ante vel est convallis dignissim.  Fusce suscipit, wisi nec facilisis facilisis, est dui fermentum leo, quis tempor ligula erat quis odio.  Nunc porta vulputate tellus.  Nunc rutrum turpis sed pede.  Sed bibendum.  Aliquam posuere.  Nunc aliquet, augue nec adipiscing interdum, lacus tellus malesuada massa, quis varius mi purus non odio.  Pellentesque condimentum, magna ut suscipit hendrerit, ipsum augue ornare nulla, non luctus diam neque sit amet urna.  Curabitur vulputate vestibulum lorem.  Fusce sagittis, libero non molestie mollis, magna orci ultrices dolor, at vulputate neque nulla lacinia eros.  Sed id ligula quis est convallis tempor.  Curabitur lacinia pulvinar nibh.  Nam a sapien.
                                        </p>
                                        <a class="btn btn-primary btn-block" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="post">
                                    <img src="img/rails1.png" class="img-responsive"/>
                                    <div class="post-content">
                                        <h3>Lorem Ipsum</h3>
                                        <small>Posted by Aria on July 13, 2017</small>
                                        <p>
                                            Nullam eu ante vel est convallis dignissim.  Fusce suscipit, wisi nec facilisis facilisis, est dui fermentum leo, quis tempor ligula erat quis odio.  Nunc porta vulputate tellus.  Nunc rutrum turpis sed pede.  Sed bibendum.  Aliquam posuere.  Nunc aliquet, augue nec adipiscing interdum, lacus tellus malesuada massa, quis varius mi purus non odio.  Pellentesque condimentum, magna ut suscipit hendrerit, ipsum augue ornare nulla, non luctus diam neque sit amet urna.  Curabitur vulputate vestibulum lorem.  Fusce sagittis, libero non molestie mollis, magna orci ultrices dolor, at vulputate neque nulla lacinia eros.  Sed id ligula quis est convallis tempor.  Curabitur lacinia pulvinar nibh.  Nam a sapien.
                                        </p>
                                        <a class="btn btn-primary btn-block" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="post">
                                    <img src="img/rails1.png" class="img-responsive"/>
                                    <div class="post-content">
                                        <h3>Lorem Ipsum</h3>
                                        <small>Posted by Aria on July 13, 2017</small>
                                        <p>
                                            Nullam eu ante vel est convallis dignissim.  Fusce suscipit, wisi nec facilisis facilisis, est dui fermentum leo, quis tempor ligula erat quis odio.  Nunc porta vulputate tellus.  Nunc rutrum turpis sed pede.  Sed bibendum.  Aliquam posuere.  Nunc aliquet, augue nec adipiscing interdum, lacus tellus malesuada massa, quis varius mi purus non odio.  Pellentesque condimentum, magna ut suscipit hendrerit, ipsum augue ornare nulla, non luctus diam neque sit amet urna.  Curabitur vulputate vestibulum lorem.  Fusce sagittis, libero non molestie mollis, magna orci ultrices dolor, at vulputate neque nulla lacinia eros.  Sed id ligula quis est convallis tempor.  Curabitur lacinia pulvinar nibh.  Nam a sapien.
                                        </p>
                                        <a class="btn btn-primary btn-block" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="post">
                                    <img src="img/rails1.png" class="img-responsive"/>
                                    <div class="post-content">
                                        <h3>Lorem Ipsum</h3>
                                        <small>Posted by Aria on July 13, 2017</small>
                                        <p>
                                            Nullam eu ante vel est convallis dignissim.  Fusce suscipit, wisi nec facilisis facilisis, est dui fermentum leo, quis tempor ligula erat quis odio.  Nunc porta vulputate tellus.  Nunc rutrum turpis sed pede.  Sed bibendum.  Aliquam posuere.  Nunc aliquet, augue nec adipiscing interdum, lacus tellus malesuada massa, quis varius mi purus non odio.  Pellentesque condimentum, magna ut suscipit hendrerit, ipsum augue ornare nulla, non luctus diam neque sit amet urna.  Curabitur vulputate vestibulum lorem.  Fusce sagittis, libero non molestie mollis, magna orci ultrices dolor, at vulputate neque nulla lacinia eros.  Sed id ligula quis est convallis tempor.  Curabitur lacinia pulvinar nibh.  Nam a sapien.
                                        </p>
                                        <a class="btn btn-primary btn-block" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
